<div>
<h3>new-releases</h3>

<div class="new-release-card-wrapper" fxLayout="row wrap" >
    <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let item of releases" >
    <mat-card [ngClass]="new-release-card">
        <mat-card-title >
            <a href="/album">
            <img mat-card-image src="{{item.images[0].url}}" />
            {{item.name}}
        </a>
        </mat-card-title>
        <mat-card-subtitle>
          <span *ngFor="let artist of item.artists"> <a href="/artist">{{artist.name}} </a></span>
        </mat-card-subtitle>
   
        <mat-card-contents>
            Release Date: {{item.release_date}} <br />
            Tracks: {{item.total_tracks}} <br />
            Artist: 
        </mat-card-contents>
        <!-- <mat-card-footer>{{item.release_date}}</mat-card-footer> -->
    </mat-card>
</div>
</div>

</div>
