<mat-card>
    <mat-card-content fxLayout="row wrap" fxLayout.xs="column">
        <div fxflex><img src="https://i.scdn.co/image/ab67616d00001e02b02a3380a69bd2418a1f68f1" alt="album cover" [style.margin]="'10px'" [style.max-width]="'90%'" /></div>
        <div fxFlex>
            <div [style.min-width]="'300px'" [style.margin]="'10px'">
                <strong>Record Label: </strong> Six Course Music Group/RCA Records<br />
                <strong>Release Date: </strong> 2021-02-12<br /><br />
                <strong>Tracks:</strong> 22<br />
                <strong>Popularity: </strong>77<br /><br />

                <mat-chip-list aria-label="Artist selection">
                    <mat-chip>Judas and the Black Messiah</mat-chip>
                    <mat-chip>Possible Second Artist</mat-chip>
                </mat-chip-list>
                <br />

                <div>This compilation (P) 2021 Six Course Music Group, LLC & RCA Records, a division of Sony Music Entertainment</div>
                <div>Possible Second Copyright</div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<br /><br />
<h2>Track Listing</h2>

<mat-list>
    <!-- Single "Responsive" Material List Item-->
    <mat-list-item>
        <mat-icon mat-list-icon>queue_music</mat-icon>
        <div mat-line>
            <mat-card>
                <mat-card-content>1 Cointelpro/Dec 4 - 3.34 <!-- NOTE 3.34 was determined by using (duration_ms / 60000).toFixed(2) -->
                </mat-card-content>
            </mat-card>
        </div>
    </mat-list-item>
    <!-- -->
</mat-list>